/* Map styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body { 
	margin:0; 
	padding:0; 
	display: block;
}

/* id selector */
#map { 
	width: 100%;
	height: 700px;
	z-index: 0;
	position: relative;
}